<p id="notice"><%= notice %></p>

<h1>Stories</h1>

<canvas id="burn-up-chart" width="200" height="100"></canvas>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Planned on</th>
      <th>Estimated points</th>
      <th>Real points</th>
      <th>Dev done on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.number %></td>
        <td><%= story.title %></td>
        <td><%= story.planned_on %></td>
        <td><%= story.estimated_points %></td>
        <td><%= story.real_points %></td>
        <td><%= story.dev_done_on %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
